.item-container {
  display: flex;
  flex-direction: column;
  max-width: 270px;

}

.item-list {
  height: 100px;
  text-decoration: none;
  color: #000;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.3s;
  &:hover {
    background-size: 60%;
  }
}

.item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
}

h3 {
  font-size: 1rem;
}