.item-container {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  border: 1px solid rgb(215, 186, 186);
  border-radius: 1px;
  margin: 1px;
  box-shadow: 0 0 2px;
  align-items: center;
}

.item-list {
  height: 100px;
  text-decoration: none;
  color: #000;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.3s;
  &:hover {
    background-size: 60%;
  }
}

.item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
}

h3 {
  font-size: 1rem;
}

.category-page {
  position: relative;
}

.category-inside {
  position: absolute;
  top: 50px;
  left: 10px;
}

.fluid-container{
  margin-bottom: 40px;
}