footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 49%, rgba(104,114,116,1) 100%);
  color: white;
  padding-left: 10px;
}

.footer-link {
  margin-right: 10px;
  color: white;
}