footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: #1C3334;
  color: white;
  padding-left: 10px;
}

.footer-link {
  margin-right: 10px;
  color: white;
}