.product-container {
    color: black;
text-align: center;
}

.product-image {
    background-size: contain;
    background-repeat: no-repeat; 
    background-position:center;
    margin-top: 100px;
}