.product-container {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 49%, rgba(104,114,116,1) 100%);
color: white;
text-align: center;
}

.product-image {
    background-size: contain;
    background-repeat: no-repeat; 
}