.banner-container {
    background-color: black;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 33px 29px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 33px 29px -6px rgba(0,0,0,0.5);
    box-shadow: 0px 33px 29px -6px rgba(0,0,0,0.5);
    margin-bottom:60px;
    img {
        max-height: 140px;
    }
}


// .carousel-control {

// }

// .carousel-container .carousel-item {

  
//   .carousel-image {

//   }
  
  .carousel-caption {
    color: black;
    flex: 1;
    padding:20px;

  }
 .carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    background-position: center;
    img {
        max-width: 300px;
        margin: 0 auto;
    }
}
.signup-container {
    height:110px; 
    width:100%;
    padding-top: 10px;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(to bottom, rgba(2,0,36,1) 40%,  rgba(104,114,116,1) 100%);
}

    .neon {
        animation: neonAnim 2s alternate-reverse infinite;
        color: #4CA098;
    }
    @keyframes neonAnim {
        from {
            text-shadow:
        0 0 19px rgba(76, 160, 152, .7),
            0 0 49px rgba(76, 160, 152, .7),
            0 0 109px rgba(76, 160, 152, .7);
        }
        to {
            text-shadow:
            0 0 14px rgba(76, 160, 152, .7),
            0 0 29px rgba(76, 160, 152, .7),
            0 0 69px rgba(76, 160, 152, .7); 
        }
    }

    .carousel-control-prev-icon {
        background-image: url('../images/left\ arrow.png');
    }
    .carousel-control-next-icon {
        background-image: url('../images/right\ arrow.png');
    }

    .btn-primary {
        background-color:#4d9f98;
        color:#fefffe;
    
    }
   

    .image-div {
      display: flex;
      height: 400px;
      width: auto;
      padding-bottom: 30px;
    }

    .carousel-text {
      text-align: center;
      background-color: #4CA098;
      opacity: 0.9;
      line-height: 0.6rem;
      padding-bottom: 2px;
      border-radius: 4px;
    }
